/*
Fix "scorecard" to go across the whole table -- format too
Center buttons within div
expand table and td to fit into lrDiv
*/

/* 
HTML
Consolidate onto one tbody
*/

/*************************************************
GENERAL
*************************************************/

header {
	margin: 0 0 0 40px;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	color: white;
}

h1 {
	font-size: 60px;
}

body {
	font-family: 'Roboto', sans-serif;
	background: #8e0000;
    background: -webkit-linear-gradient(left, #420000, #c60000);
    background: -o-linear-gradient(right, #420000, #c60000);
    background: -moz-linear-gradient(right, #420000, #c60000);
    background: linear-gradient(to right, #420000, #c60000);
}

#roundCounter {
	display: block;
	text-align: left;
	font-size: 17px;
	font: bold;
}



/**********************************************************
LEFT DIV
**********************************************************/

.lrDiv {
	display: inline-block;
	width: 40%;
	margin: 2.5%;
}

button {
	display: inline-block;
    vertical-align: top;
	margin: auto;
	padding: 1%;
	margin: 1%;
}

button:focus {
	outline: 0;
}

.dice {
	font-size: 130%;
	padding: .75em 1em;
}

.levelTwo {
	width: 90%;
	margin: auto;
}

.levelTwo button {
	width: 45%;
}

[title~="Rerolling"] {
	background-color: yellow;
	color: black;
	border-style: outset;
}

[title~="Keeping"] {
	background-color: #CCCC00;
	color: white;
	border-style: inset;
}



/*************************************************
SCORECARD
*************************************************/

table {
	display: inline-block;
    vertical-align: top;
	border: 2px solid black;
	width: 100%;
}

thead {
	width: 100%;
}

th {
	text-align: center;
}

.scorecard {
	background-color: #ffea54;
	text-align: center;
}

.scorecard td {
	border: 1px solid black;
}

.scorecard th {
	border: 2px solid black;
	background-color: #ffe100;
} 

.scorecard:nth-child(even) {
	background-color: #fff08c;
}

.radiotext {
	margin: 2% 1%;
}





/*************************************************
FOOTER
*************************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
	/*clear makes sure both sides of footer are clear of floated elements.*/
}



/* /************************************************* */
/* HEADING */
/* *************************************************/

/* thead: tr: th { */
	/* /* Scoreboard */
	/* font-size: 0.75em; */
	/* margin: -5px 0 0 ; */
	/* font-weight: normal; */
	/* /*font-weight sets the visual weight of text, aka "bold"*/
/* } */

/* h3 { */
	/* /* Upper/lower */
	/* margin: 0 0 1em 0; */
/* } */

/* h1 { */
	/* text-align: center; */
	/* margin: 0; */
	/* color: black; */
/* } */